     
      <% # header bar for doc items in index view -%>
      <div class="documentHeader row">
        
        <%# main title container for doc partial view 
            How many bootstrap columns need to be reserved
            for bookmarks control depends on size. 
        -%>
         <h5 class="index_title col-sm-9 col-lg-10">
         <% counter = document_counter_with_offset(document_counter) %>
         <span class="document-counter">
         <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
         </span>
         <%= link_to_document document, :label=>document_show_link_field(document), :counter => counter %>
        </h5>
		
		<% # adding extra description and info stuff to document in a popover button -%>
		<button type="button" class="btn btn-lg popover-test btn-info" data-toggle="popover" data-trigger="click" data-container="body"
		data-placement="bottom" data-html="true" data-title="More info" data-contentwrapper=".mycontent">More info</button>
		
		<div class="mycontent" style="display: none">
			<dl class="document-metadata" style="text-align: left">
				<% document_show_fields(document).each do |solr_fname, field| -%>
					<% if should_render_show_field? document, field %>
						<dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
						<dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
					<% end -%>
				<% end -%>
			</dl>
			<% # bookmark functions for items/docs -%>
			<%= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>
		</div>
		
        
      </div>
      
